<section class="auth-form flex items-center">
    <div class=" bg-white container mx-auto w-80 p-5 ">
        <form action="" method="post" class="flex flex-col ">
            <input class="border-2 p-2 mb-4" type="text" name="name" id="" placeholder="Name">
            <input class="border-2 p-2 mb-4" type="text" name="email" id="" placeholder="Email">
            <input class="border-2 p-2 mb-4" type="text" name="password" id="" placeholder="Password">
            <div class="flex items-center justify-between">
                <button class="btn-primary text-white px-3 py-1 rounded-full">Register</button>
                <a href="/login" class="register-link ml-3">Already have account?</a>
            </div>
        </form>
    </div>
</section>