<section class="">
    <div class="container mx-auto">
        <h1 class="font-bold text-lg mb-4">All Orders</h1>

        <%if(messages = messages.success || messages.error){%>
            <div class="msg w-full p-1 alert alert-success alert-dismissible fade show" role="alert">
                <%=messages%>
            </div>
        <% } %>

        <table class="w-full table-auto">
            <thead>
                <tr>
                    <th class="border p-2">Orders</th>
                    <th class="border p-2">Customer</th>
                    <th class="border p-2">Address</th>
                    <th class="border p-2">Phone</th>
                    <th class="border p-2">Payment Type</th>
                    <th class="border p-2">Status</th>
                    <th class="border p-2">Placed At</th>
                </tr>
            </thead>
                <tbody class="orders-js">
                </tbody>
        </table>
    </div>
</section>