<section class="status">
    <div class="conatainer mx-auto">
        <div class="status-box w-2/4 mx-auto ">
            <div class="flex items-center justify-between mb-12">
                <input type="hidden" id="hidden" value="<%=JSON.stringify(order)%>">
                <h1 class="text-xl font-bold">
                    Track Delivery Details
                </h1>
                <h6 class="text-green-600 bg-white rounded-full text-sm p-2">
                    <%=order._id%>
                </h6>
            </div>
            <ul>
                <li class="status_line text-xl pb-12" data-status="order_placed"><span>Order placed</span></li>
                <li class="status_line text-xl pb-12"data-status="confirmed"><span>Order confirmation </span></li>
                <li class="status_line text-xl pb-12"data-status="prepared"><span>Preparation</span></li>
                <li class="status_line text-xl pb-12"data-status="delivered"><span>Out for delivery</span></li>
                <li class="status_line text-xl "data-status="completed"><span>Delivered</span></li>
            </ul>
        </div>
    </div>
</section>